# dependencies
/node_modules
/src/Components/Create.jsx
/src/Components/UsuarioActivo.jsx

<div className="nav-link-section">
                <Link to="/" className="nav-link nav-item">Inicio</Link>
                <Link to="/consultas" className="nav-link nav-item">Consultas</Link>
                <Link to="/login" className="nav-link nav-item">Log In</Link>
                <Link to="/register" className="nav-link nav-item">Registro</Link>
                <Link to="/quienesSomos" className="nav-link nav-item">Quienes Somos</Link>
                <Link to="/misMascotas" className="nav-link nav-item">Mis Mascotas</Link>
                <Link to="/tienda" className="nav-link nav-item">Tienda</Link>
                <Link to="/adopciones" className="nav-link nav-item">Adopciones</Link>
                <Link to="/turnos" className="nav-link nav-item">Turnos</Link>
            </div>