.titulo_consultas{
    margin-top: 50px;
    margin-bottom: 20px;
}
.section_consultas {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
    min-height: 62vh;
    
}

.texto-consultas {
    font-weight: 500;
    font-size: large;
}

.container_redes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    font-size: larger;
}

.dato{
    padding-top: 20px;
}
.icono_dato{
    padding-right: 10px;
}

.container_iconos_redes {
    display: flex;
    gap: 20px;
    
}

.container_texto_redes {
    display: flex;
}

.texto_redes {
    font-size: 2rem;
    align-self: auto;
    color: rgb(92, 2, 92);
    font-weight: bold;
}

.icono_redes {
    color: purple;
    font-size: 2rem;
}

.consultas_form {
    width: 100%;
    margin-top: 10px;
}

.form-control-Consultas {
    font-family: inherit;
    width: 900px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
    margin-bottom: 45px;
}

.form-group label {
    margin-bottom: 10px;
}

.btn-consulta {
    font-size: 110%;
    width: 20%;
    height: 40px;
    color: purple;
    border-radius: 30px;
    border: 3px solid purple;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;

}

.btn-consulta:hover {
    background-color: rgb(206, 205, 205);
}

textarea {
    resize: none;
    height: 200px;
}

#mapa{
    width: 430px;
    height: 200px;
    border-radius: 15px;
}