@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

#div_img_inicio {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, #ff000000, rgb(63, 62, 62)), url(../img.jpg);
    background-position: 10% 45%;
    display: block;
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#img_text_inicio {
    margin-top: 150px;
    padding-left: 100px;
    font-size: 1.3rem;
    width: 50%;
    height: 500px;
}

#titulo_inicio {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

#div_inicio_especialidades {
    display: flex;
    align-self: center;
    margin-bottom: 25px;
}

#div_inicio_int {
    padding: 30px;
}

#div_inicio_int>img {
    height: 253px;
}

#div_inicio_int>h4 {
    font-size: 25.5px;
    color: black;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#div_inicio_esp {
    padding: 30px;
}

#div_inicio_esp>img {
    height: 230px;
    margin-bottom: 24px;
    padding-top: 10px;
}

#div_inicio_esp>h4 {
    color: black;
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
}

#div_inicio_cirugia {
    padding: 30px;
}

#div_inicio_cirugia>img {
    height: 225px;
    padding-top: 20px;
    margin-bottom: 27px;
    margin-left: 24px;
}

#div_inicio_cirugia>h4 {
    color: black;
    padding-left: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#btn-consulta-inicio {
    font-size: 1rem;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 3px solid white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 10px;
}

#btn-consulta-inicio:hover {
    background-color: grey;
}

#titulo_secundario_inicio {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}