.dia-calendario.activo {
    background-color: lightblue !important;
}

.dia-calendario {
    transition: background-color 0.5s;
    cursor: pointer;
}
.dia-calendario:hover{
    background-color: lightgray;
}

.dia-calendario.deshabilitado{
    background-color: red !important;
}

.dia-calendario.otro-mes{
    background-color: lightgray;
}

.dia-calendario.dias-anteriores{
    color: lightgray;
}

.dia-calendario.dia-domingo{
    color: lightgray;
}

.btn-calendario{
  width: 40px;
  height: 50px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-calendario:hover {
    box-shadow: 0px 0px 7px 0px #000000;
    border: 1px solid lightgray;
}

.container_calendario{
    width: 100%;
}
#contenedor-calendario{
    max-width: 700px;
    font-size: 18px;
}