/* efectos por defecto */
body {
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    background-color: white;
}

/* efectos para el contenedor de pantalla completa */
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.esaote.com/uploads/pics/header-us-mri-vet_17.jpg");
}

#login {
    width: 100%;
    max-width: 500px;
    padding: 30px 30px 50px 30px;
    background-color: white;
    margin-left: 900px;
    height: 500px;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#login label {
    font-size: 120%;
    color: #3c4245;
    margin-top: 15px;
}

#login input {
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border-color: gray;
    border-radius: 10px;
}

#login input::placeholder {
    color: black;
}

#login button {
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;

    border-radius: 10px;

    background-color: rgb(223, 219, 219);

    margin-top: 10px;
}

#login button:hover {
    background-color: #3c4245;
    color: #dfcdc3;
}

.titulo {
    font-size: 300%;
    color: #dfcdc3;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #dfcdc3;

}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #dfcdc3;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #719192;
}

/* seccion de la derecha */



/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px) {
    #contenedorcentrado {
        flex-direction: column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: #5f6769;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

        padding: 30px;
        box-sizing: border-box;
    }

    #login {
        margin: 0 auto;
    }

    #login label {
        text-align: left;
    }
}

/* ajustar a pantallas con ancho menor o igual a 775px; */