.container_historiaClinica{
    min-height: 82vh;
}

.titulo_pagina{
    font-style: italic;
}

.container_historias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.historias_grupo {
    width: 40%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historias {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 7px 0px #000000;
    margin: 20px 0;
    padding: 10px;
}

.data_grupo {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo_Campo {
    font-size: 1.3rem;
}

.Datos_Obs {
    width: 70%;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    height: auto;
    text-align: justify;
    padding: 10px;
}