.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Listado_Container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.btn-crearMascota {
    font-size: 1.3rem;
    color: #1b262c;
    background-color: #dfcdc3;
    margin: 20px 0;
    padding: 25px;
    cursor: pointer;
    border: none;
    border-radius: 3px 3px 3px 3px;
}

.btn-crearMascota:hover {
    background-color: #3c4245;
    color: #dfcdc3;
}