.Mascota_Container {
    width: 50%;
    max-width: 800px;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    align-self: center;
    align-items: center;
    box-shadow: 0px 0px 7px 0px #000000;
}

.Container_Foto_Mascota {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.Container_DatosMascota {
    width: 50%;
}

.Campo_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo_Campo {
    font-size: 1.1rem;
}

.Datos_Campo {
    background-color: rgb(216, 216, 216);
    width: 50%;
    border-radius: 5px;
}

.HC {
    color: purple;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid purple;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
}

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Listado_Container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.btn-crearMascota {
    font-size: 1.3rem;
    color: #1b262c;
    background-color: #dfcdc3;
    margin: 20px 0;
    padding: 25px;
    cursor: pointer;
    border: none;
    border-radius: 3px 3px 3px 3px;
}

.btn-crearMascota:hover {
    background-color: #3c4245;
    color: #dfcdc3;
}