.container_mascotas{
    min-height: 85vh;
}


.titulo_misMascotas{
    font-style: italic;
}

.Mascota_Container {
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: auto;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px #000000;
}

.Container_Foto_Mascota {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.Container_DatosMascota {
    width: 50%;
}

.Campo_Container_mascotas {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.Titulo_Campo_mascotas {
    font-size: 1.1rem;
}

.Datos_Campo_mascotas {
    border-radius: 5px;
    margin: 0 10px;
}

.HC {
    color: purple;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid purple;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}

.Listado_Container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-crearMascota {
    font-size: 1.3rem;
    color: #1b262c;
    background-color: #dfcdc3;
    margin: 20px 0;
    padding: 25px;
    cursor: pointer;
    border: none;
    border-radius: 3px 3px 3px 3px;
}

.btn-crearMascota:hover {
    background-color: #3c4245;
    color: #dfcdc3;
}

#boton-administrador{
    color: purple;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid purple;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    width: 20%;
}