@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#div_seccion_adopciones {
  min-height: 82vh;
  font-family: 'Montserrat', sans-serif;
}

#contenedor_adopciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tarjeta_adopciones > .tarjeta_adopciones_cuerpo{
  overflow: hidden;
  width: 100%;
}

.tarjeta_adopciones {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 0;
  height: auto;
  margin-top: 30px;
  padding: 10px;
}

.tarjeta_adopciones_titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.tarjeta_adopciones_cuerpo {
  padding: 10px;
}

.tarjeta_adopciones_cuerpo img {
  height: 220px;
  /* Establece una altura fija para las imágenes */
}

.tarjeta_adopciones_pie {
 
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.tarjeta_adopciones_pie button {
  color: purple;
  border-radius: 30px;
  padding: 10px 20px;
  border: 3px solid purple;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}

.tarjeta_adopciones_pie button:hover{
  background-color: rgb(141, 65, 141);
  border: 3px solid lightgray;
  color: white;
}

#boton-agregar-adopcion {
  margin: 50px;
  color: purple;
  border-radius: 30px;
  padding: 10px 20px;
  border: 3px solid purple;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}

#boton-agregar-adopcion:hover{
  background-color: rgb(141, 65, 141);
  border: 3px solid lightgray;
  color: white;
}

.botones_adoptar{
  background-color: rgb(141, 65, 141);
  border-radius: 30px;
  padding: 10px 20px;
  border: 3px solid purple;
  color: white;
}

.botones_adoptar:hover{
  background-color: rgb(104, 48, 104);
  border: 3px solid rgb(67, 31, 67);
}

#formulario{
  margin-bottom: 20px;
}

.titulo_pagina {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin: 40px 20px 20px 20px;
}

#intro_adopciones{
  margin: 20px;
  font-size: 1.2rem;
}
#intro_adopciones p{
  margin: 0 100px;
}

#form_adop1{
  margin-top: 20px;
}
#form_adop2{
  margin: 20px;
  font-size: 1.2rem;
}

.tarjeta_adopciones_bot{
  display: flex;
}