.contenedor_adopciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  margin: 10px;
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
}

.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cuerpo {
  padding: 10px;
}

.cuerpo img {
  height: 220px;
  /* Establece una altura fija para las imágenes */
}

.pie {
  background-color: rgb(141, 65, 141);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.pie a {
  text-decoration: none;
  color: white;
}

#boton-administrador {
  margin: 50px;
}

.botones {
  margin: 30px;
}

.titulo_pagina {
  font-size: 2.5rem;
  margin: 30px 0;
}