@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container_adopciones {
  min-height: 82vh;
  font-family: 'Montserrat', sans-serif;
}
.contenedor_adopciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tarjeta_adopciones > .cuerpo{
  overflow: hidden;
  width: 100%;
}

.tarjeta_adopciones {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 0;
  height: auto;
  margin-top: 30px;
  padding: 10px;
}

.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cuerpo {
  padding: 10px;
}

.cuerpo img {
  height: 220px;
  /* Establece una altura fija para las imágenes */
}

.pie {
 
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.pie button {
  color: purple;
  border-radius: 30px;
  padding: 10px 20px;
  border: 3px solid purple;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}

#boton-administrador {
  margin: 50px;
  color: purple;
  border-radius: 30px;
  padding: 10px 20px;
  border: 3px solid purple;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}

#boton-administrador:hover{
  background-color: rgb(141, 65, 141);
  border-radius: 15px;
  padding: 10px;
  border: 1px solid lightgray;
  color: white;
}

.botones{
  background-color: rgb(141, 65, 141);
  border-radius: 15px;
  padding: 10px;
  border: 1px solid lightgray;
  color: white;
}

#formulario{
  margin-bottom: 20px;
}

.titulo_pagina {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin: 40px 20px 20px 20px;
}

.intro{
  margin: 20px;
  font-size: 1.2rem;
}
.intro p{
  margin: 0 100px;
}

#form_adop1{
  margin-top: 20px;
}
#form_adop2{
  margin: 20px;
  font-size: 1.2rem;
}

.Link{
  margin: 0;
  padding: 0;
}

.boton_editar{
  background-color: rgb(107 107 226 / 72%);
}
.boton_borrar{
  background-color: #eb5757;
}

.bot{
  display: flex;
}