#footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 6rem;
}


.huellitasFooter {
    width: 5%;
}

.text {
    width: 90%;
    margin-left: -50px;
}