#footer{
    height: 115px;
    background-color: black;
    margin-top: auto;
    color: white;
    padding-bottom: 10px;
    display: flex;
}


.huellitasFooter {
    margin-left: 70px;
}
.text {
    margin-left: 700px;
}