.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 2px 0px;
    width: 100%;
    height: 6vh;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-item {
    margin: 0 10px;
}

.nav-link-section{
    margin-right: 10px;
}