:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}